[Desktop Entry]
Name=Pida
Comment=Integrated Development Environment
Exec=pida
Icon=pida-icon
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=GTK;GNOME;Development;IDE;
StartupNotify=true
